<div class="inicioDiv container-flex">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video1">
        <source src="/assets/images/yukiVideo.mp4" type="video/mp4">
    </video>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video2">
        <source src="/assets/images/yukiVideo2.mp4" type="video/mp4">
    </video>
</div>
<!-- About-->
<section class="page-section aboutSectionBoot" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 textBlueDeep">Somos una comercializadora</h2>
                <hr class="divider divider-light" />
                <p class="mb-4 textBlueDeep">De materia prima y producto
                    terminado, ofrecemos servicios de importación y exportación cubriendo las necesidades particulares
                    de cada cliente, nos involucramos en todo el proceso, desde el transporte, registro, trámites
                    aduanales y otras obligaciones fiscales.</p>
                <a class="btn btn-light btn-xl btnAbout textBlueDeep" href="#services">Contactar</a>
            </div>
        </div>
    </div>
</section>