<div class="inicioDiv container-flex">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video1">
        <source src="/assets/images/yukiVideo.mp4" type="video/mp4">
    </video>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video2">
        <source src="/assets/images/yukiVideo2.mp4" type="video/mp4">
    </video>
</div>
<!-- About-->
<section class="page-section aboutSectionBoot" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 textBlueDeep">Somos una comercializadora</h2>
                <hr class="divider divider-light" />
                <p class="mb-4 textBlueDeep">De materia prima y producto
                    terminado, ofrecemos servicios de importación y exportación cubriendo las necesidades particulares
                    de cada cliente, nos involucramos en todo el proceso, desde el transporte, registro, trámites
                    aduanales y otras obligaciones fiscales.</p>
                <a class="btn btn-info btn-xl btnAbout text-white" href="#services">Contactar</a>
            </div>
        </div>
    </div>
</section>
<div class="almacenVisionMision">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-md-6 boldSete">
                <h3>Misión</h3>
                <p>Servir de manera integral y segura para cumplir con los objetivos comerciales de nuestros clientes,
                    nuestro compromiso nos hace diferentes.</p>
            </div>
            <div class="col-md-6 boldSete">
                <h3>Visión</h3>
                <p>Ser una comercializadora distinguida por nuestros servicios de calidad, confianza, honestidad,
                    brindando soluciones integrales a cada uno de nuestros clientes.</p>
            </div>
        </div>
    </div>
</div> <br> <br>
<div class="logistics">
    <div class="container textApoyo">
        <div class="row">
            <div class="col-md-6">
                <h4 class="boldSete">Te apoyamos</h4>
                <ul class="list-group listApoyo">
                    <li class="list-group-item list-group-item-dark">Proporcionamos también servicios de asesoramiento y orientación a
                        nuestros clientes</li> <hr>
                    <li class="list-group-item list-group-item-dark">Cumplirás con
                        las regulaciones, restricciones arancelarias o no arancelarias y aspectos fiscales de la
                        operación.</li> <hr>
                    <li class="list-group-item list-group-item-dark">Obtendrás legalmente la posesión y/o entrega de sus
                    mercancías en territorio nacional.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/nightLogic.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>