<div class="inicioDiv container-flex">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video1">
        <source src="/assets/images/yukiVideo.mp4" type="video/mp4">
    </video>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video2">
        <source src="/assets/images/yukiVideo2.mp4" type="video/mp4">
    </video>
</div>
<!-- About-->
<section class="page-section aboutSectionBoot" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 textBlueDeep">Somos una comercializadora</h2>
                <hr class="divider divider-light" />
                <p class="mb-4 textBlueDeep textParaComer">De materia prima y producto
                    terminado, ofrecemos servicios de importación y exportación cubriendo las necesidades particulares
                    de cada cliente, nos involucramos en todo el proceso, desde el transporte, registro, trámites
                    aduanales y otras obligaciones fiscales.</p>
                <a class="btn btn-info btn-xl btnAbout text-white" href="#contacto">Contactar</a>
            </div>
        </div>
    </div>
</section>
<div class="almacenVisionMision">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-md-6 boldSete">
                <h3>Misión</h3>
                <p>Servir de manera integral y segura para cumplir con los objetivos comerciales de nuestros clientes,
                    nuestro compromiso nos hace diferentes.</p>
            </div>
            <div class="col-md-6 boldSete">
                <h3>Visión</h3>
                <p>Ser una comercializadora distinguida por nuestros servicios de calidad, confianza, honestidad,
                    brindando soluciones integrales a cada uno de nuestros clientes.</p>
            </div>
        </div>
    </div>
</div> <br> <br>
<div class="logistics">
    <div class="container textApoyo">
        <div class="row">
            <div class="col-md-6">
                <h4 class="boldSete">Te apoyamos</h4>
                <ul class="list-group listApoyo">
                    <li class="list-group-item list-group-item-dark">Proporcionamos servicios de asesoramiento y
                        orientación a
                        nuestros clientes.</li>
                    <hr>
                    <li class="list-group-item list-group-item-dark">Cumplirás con
                        las regulaciones, restricciones arancelarias o no arancelarias y aspectos fiscales de la
                        operación.</li>
                    <hr>
                    <li class="list-group-item list-group-item-dark">Obtendrás legalmente la posesión y/o entrega de sus
                        mercancías en territorio nacional.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/nightLogic.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div> <br> <br>
<!-- About-->
<section class="page-section aboutSectionBoot2 bridgeServicios" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0 text-white">Nuestro compromiso</h2>
                <hr class="divider divider-light" />
                <p class="mb-4 text-white sloganPara">Lograr una alianza estratégica con nuestros clientes para cumplir sus
                    objetivos particulares.</p>
                <a class="btn btn-dark btn-xl btnAbout text-white" href="#contacto">Contactar</a>
            </div>
        </div>
    </div>
</section> <br> <br>
<div class="servicios" id="servicios">
    <div class="container">
        <div class="row text-center boldSete">
            <div class="col-md-12">
                <h1 style="color: #043474;" class="serviciosTuki">Servicios Yuki</h1>
                <hr class="divider">
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4 ">
                <div class="card serviceCard" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Descripción del servicio
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group card-text">
                                            <li class="list-group-item list-group-item-light">Con nuestra experiencia le
                                                brindamos a
                                                nuestros clientes la
                                                asesoría,
                                                orientación y ejecución de procesos para importar y exportar productos
                                                para cumplir
                                                con
                                                los
                                                objetivos requeridos.</li>
                                            <li class="list-group-item list-group-item-dark">Es primordial para nosotros
                                                tener el
                                                conocimiento de las normas de
                                                empaque y transportación, de
                                                las cantidades solicitadas y plazos de entrega estipulados.</li>
                                            <li class="list-group-item list-group-item-light">En la exportación nuestro
                                                objetivo
                                                es llevar el producto a la puerta del negocio del cliente.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="#contacto" class="btn btn-primary">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card serviceCard marginCard" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Descripción del servicio
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group card-text">
                                            <li class="list-group-item list-group-item-light">Yuki es un operador
                                                logístico con un sistema para la administración y control de inventarios
                                                que permiten mantener la seguridad y entrega de los productos de manera
                                                oportuna.</li>
                                            <li class="list-group-item list-group-item-dark">Los espacios son deseñados
                                                de acuerdo a las necesidades del producto, a través del conocimiento del
                                                producto, limpieza del espacio, control del almacén, organización y
                                                automatización. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="#contacto" class="btn btn-primary">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card serviceCard marginCard" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Descripción del servicio
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseThree" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group card-text">
                                            <li class="list-group-item list-group-item-light">En Yuki brindamos
                                                servicios de transporte y distribución de bienes para optimizar costos y
                                                seguridad en los productos tanto en el proceso de importación como de
                                                exportación.</li>
                                            <li class="list-group-item list-group-item-dark">Ofrecemos una planeación
                                                estratégica en la distribución con distintos modelos alternativos de
                                                acuerdo a las necesidades de los clientes.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="#contacto" class="btn btn-primary">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><br> <br>

        <div class="row">
            <div class="col-md-4 ">
                <div class="card serviceCard" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Descripción del servicio
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group card-text">
                                            <li class="list-group-item list-group-item-light">Yuki cuenta con un grupo
                                                de expertos en materia fiscal y aduanal para garantizar el cumplimiento
                                                del marco legal en los distintos procesos y operaciones del comercio.
                                            </li>
                                            <li class="list-group-item list-group-item-dark">Realizamos un análisis en
                                                cada proceso y producto para identificar los requisitos arancelarios y
                                                no arancelarios.</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="#contacto" class="btn btn-primary">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card serviceCard marginCard" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Descripción del servicio
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseFive" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group card-text">
                                            <li class="list-group-item list-group-item-light">Otorgamos servicios de
                                                asesoría legal para la celebración de contratos, también gestionamos
                                                permisos para el cumplimiento e regulaciones ante las dependencias
                                                gubernamentales para cumplir con los requerimientos aduanales.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="#contacto" class="btn btn-primary">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card serviceCard marginCard" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Descripción del servicio
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseSix" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="list-group card-text">
                                            <li class="list-group-item list-group-item-light">En Yuki ponemos a su
                                                disposición la tarea de escoger y tratar con los proveedores necesarios
                                                para que su carga llegue a sus clientes a tiempo y forma.</li>
                                            <li class="list-group-item list-group-item-dark">Transportación, logística,
                                                tramites aduanales y almacenaje de mercancía. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="#contacto" class="btn btn-primary">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacto" style="background-color: #6fa8dd;" id="contacto">
    <div class="container">
        <h4>"Déjanos tus datos y en breve te contactaremos"</h4> <br>
        <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);" id="myForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input name="name" type="text" class="form-control formInput" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Correo electrónico</label>
                <input name="email" type="text" class="form-control formInput" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Correo electrónico" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Número celular</label>
                <input name="number" type="text" class="form-control formInput" id="exampleInputPassword1" placeholder="Número celular" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mensaje</label>
                <input name="message" type="text" class="form-control formInput" id="exampleInputPassword1" placeholder="¿En qué servicio estás interesado?" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input formInput" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Acepto política de privacidad</label>
            </div> <br>
            <button type="submit" class="btn btn-light">Enviar</button>
        </form>
    </div>
</div>