<div class="inicioDiv container-flex">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video1">
        <source src="/assets/images/yukiVideo.mp4" type="video/mp4">
    </video>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video2">
        <source src="/assets/images/yukiVideo2.mp4" type="video/mp4">
    </video>
</div>