.video1 {
    height: 100%;
    width: 100%;

}
.video2 {
    height: 100%;
    width: 100%;

}
.boldSete{
    font-weight: 700;
}
  
header .container {
    position: relative;
    z-index: 2;
}
.inicioDiv{
    height: 45rem;
}
.fonts{
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.aboutSectionBoot{
    height: 20rem;
    padding-top: 4%;
    /* background-color: #e1f4fa; */
}
.btnAbout{
    border-radius: 25px;
}
.textBlueDeep{
    color: #043474 !important;
}
.almacenVisionMision{

    height: 14rem;
    background-image: url("/assets/images/almacen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    transition: 0s linear; */
    background-position: 25% 85%;
    padding-top: 3%;
}
  
@media(min-width:992px){
    .video2{
        display: none;
    }
}
@media(max-width:991px){
    .almacenVisionMision{

        height: 23rem;
        background-image: url("/assets/images/almacenStory.jpg");
        padding-top: 10%;
    }
    .aboutSectionBoot{
        height: 23rem;
        padding-top: 5%;
        margin-top: -5%;
    }
    .inicioDiv{
        height: 48rem;
    }
    .video1 {
        display: none;
    
    }
}